<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="LocalClubEntities" connectionString="metadata=res://*/DbContexts.LocalClub.LocalClubModel.csdl|res://*/DbContexts.LocalClub.LocalClubModel.ssdl|res://*/DbContexts.LocalClub.LocalClubModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=LocalClub;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppDataDbContext" connectionString="metadata=res://*/DbContexts.SilList.AppDataModel.csdl|res://*/DbContexts.SilList.AppDataModel.ssdl|res://*/DbContexts.SilList.AppDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=AppData;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AppDataEntities" connectionString="metadata=res://*/DbContexts.SilList.SilListDbContext.csdl|res://*/DbContexts.SilList.SilListDbContext.ssdl|res://*/DbContexts.SilList.SilListDbContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=AppData;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities" connectionString="metadata=res://*/DbContexts.SilList.model.csdl|res://*/DbContexts.SilList.model.ssdl|res://*/DbContexts.SilList.model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities1" connectionString="metadata=res://*/DbContexts.SilList.Model1.csdl|res://*/DbContexts.SilList.Model1.ssdl|res://*/DbContexts.SilList.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities2" connectionString="metadata=res://*/DbContexts.SilList.Model2.csdl|res://*/DbContexts.SilList.Model2.ssdl|res://*/DbContexts.SilList.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities3" connectionString="metadata=res://*/DbContexts.SilList.Model3.csdl|res://*/DbContexts.SilList.Model3.ssdl|res://*/DbContexts.SilList.Model3.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities4" connectionString="metadata=res://*/DbContexts.SilList.Model1.csdl|res://*/DbContexts.SilList.Model1.ssdl|res://*/DbContexts.SilList.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities5" connectionString="metadata=res://*/DbContexts.SilList.Model1.csdl|res://*/DbContexts.SilList.Model1.ssdl|res://*/DbContexts.SilList.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities6" connectionString="metadata=res://*/DbContexts.SilList.Model1.csdl|res://*/DbContexts.SilList.Model1.ssdl|res://*/DbContexts.SilList.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities7" connectionString="metadata=res://*/DbContexts.SilList.Model1.csdl|res://*/DbContexts.SilList.Model1.ssdl|res://*/DbContexts.SilList.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities8" connectionString="metadata=res://*/DbContexts.SilList.Model1.csdl|res://*/DbContexts.SilList.Model1.ssdl|res://*/DbContexts.SilList.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\SQLEXPRESS;initial catalog=SilList;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SilListEntities9" connectionString="metadata=res://*/DbContexts.SilList.Model2.csdl|res://*/DbContexts.SilList.Model2.ssdl|res://*/DbContexts.SilList.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=SilList;integrated security=True;persist security info=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings></appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>