@* TODO. has to make it  @model IEnumerable<SO.SilList.Manager.Models.ViewModels.EntryStatusTypeVm> *@
@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.JobVo>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            Job title @*@Html.DisplayNameFor(model => model.keyword)*@
        </th>
         <th><!-- buttons --></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @if ( item.entryStatusTypeId ==  
            @Html.DisplayFor(modelItem => item.title)
        </td>
       
        <td>
            <a href="@Url.Action("Approve",new { /* id=item.carId */ })" class="btn" title="Approve">Approve</a> 
            <a href="@Url.Action("Decline",new { /* id=item.carId */ })" class="btn" title="Decline">Decline</a>
        </td>
    </tr>
}

</table>
