@* TODO. has to make it  @model IEnumerable<SO.SilList.Manager.Models.ViewModels.ApproveEntriesVm> *@
@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.JobVo>


<table>
    <tr>
        <th>
            a job  @*@Html.DisplayNameFor(model => model.keyword)*@
        </th>
         <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            a a will be generic / now only Job  @*@Html.DisplayFor(modelItem => item.keyword)*@
            item
        </td>
       
        <td>
            <a href="@Url.Action("Approve",new { /* id=item.carId */ })" class="btn" title="Approve"><i class="icon-edit"></i></a>
            <a href="@Url.Action("Decline",new { /* id=item.carId */ })" class="btn" title="Decline"><i class="icon-edit"></i></a>
        </td>
    </tr>
}

</table>
