@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Clear Site Statistics</h2>

@using (Html.BeginForm()) {
    <p>
        Remove records older than <input name="oldestDate" type="date" />

        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Cancel", "Index")
    </p>
}