@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">

<div id="leftColumn" class="span2 leftColumn"  >
        
<div style="font-size:17px; font-weight:bold; text-align:center; padding-top:20px;"></div>
<br />

@Html.Action("Menu", ViewContext.RouteData.Values["controller"].ToString())

</div>

     <div id="mainContent" class="span9" style="padding-left:0px; padding-right:0px; background-color:white; min-height:400px;">
        
         @RenderBody()

    </div>

   

</div>
