@model SO.Utility.Models.ViewModels.SearchFilterVm
 
<style>
    #isActive {
        width:90px;
    }
</style>

     @Html.ValidationSummary(true)
     @Html.ValidationMessageFor(model => model.keyword)

     @Html.TextBoxFor(model => model.keyword, new { Class = "input-medium", placeholder = "Search" })

     <label class="checkbox" style="margin-left:10px;">
         Active:
         @Html.EditorFor(model => model.isActive)
     </label>

     <button id="btnSearch" name="submitButton" value="Search" class="btn btn-default" style="margin-left:10px;">Search</button>

