@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ImageVo>

    <br />
    <br />
    <h2>Images</h2>
    <hr />
    <div style="padding: 10px;">

        <form id="form1" method="post" enctype="multipart/form-data">
       <table>
                    <td>Upload Image 1
                    </td>
                    <td>
                        <input type="file" name="UploadImage1" />
                    </td>
                </tr>

                <tr>
                    <td>Upload Image 2
                    </td>
                    <td>
                        <input type="file" name="UploadImage2" />
                    </td>
                </tr>
            <input type="submit" name="Submit" value="Submit" />
   

        </form>

    </div>


<table>
    @if (Model.Count() > 0)
    {
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
        </tr>

        foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <img src="@item.url" height="100"/>
            </td>
        </tr>
        }
@*ViewBag.carId*@
    }
</table>
