       <div class="editor-label">
            Add car images:
        </div>
        <div class="editor-field">
            <input type="file" name="UploadImage1" />
            <br />
            <input type="file" name="UploadImage2" />
        </div>