 <a href="@Url.Action("Index","Image")" class="btn btnLeftMenu" style="width:120px;">
     image - index here
 </a>
    
<a href="@Url.Action("Index","Image")" class="btn btnLeftMenu" style="width:120px;">
      image - index
 </a>
