@model SO.SilList.Manager.Models.ViewModels.ListingVm

@{
    ViewBag.Title = "Home Page";
}

  <!-- Main hero unit for a primary marketing message or call to action -->

      <div class="hero-unit span5 blackbox">


      <h2>Homes:</h2> 
      <hr />
<form >
    <label>Keyword:
         <br />
  
    </label>
    <input type="text" placeholder="Type something…" style="width:95%;">

    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
</form>


            
     </div>


 <div class="hero-unit span5 blackbox">

    
      <h2>Jobs:</h2> 
               <hr />
@using (Html.BeginForm("index", "Jobs"))
{
    <label>Keyword:</label>
    <input id="keyword" name="keyword" type="text" placeholder="Type something…" style="width:95%;">
    @*<span class="help-block">Example block-level help text here.</span>*@
    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
}


            
     </div>

<div class="hero-unit span5 blackbox">

@Html.Partial("_ListingsBox")
            
</div>


<div class="hero-unit span5 blackbox">


      <h2>Business Directory:</h2> 
               <hr />
<form >
    <label>Keyword:</label>
    <input type="text" placeholder="Type something…" style="width:95%;">
    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
</form>


            
     </div>
