@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
}
  <!-- Main hero unit for a primary marketing message or call to action -->

      <div class="hero-unit span5 blackbox">


      <h2>Rentals:</h2> 



        

               <hr />
<form >
    <label>Label name: ABC
        marat astvatsatryan < br />
        hello < /br>
    </label>
    <
        Mesrop Paltayan <br />
        Sako Stepanyan <br />
        Serge Hovsepian <br />
        Seyran Avanesyan <br />
        Vazric Valijan <br />
        Hayk Khachikyan <br />
        Edvin Zohrabyan <br />
	Zaven Khorozyan <br />
    </label>
    <input type="text" placeholder="Type something…" style="width:95%;">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
</form>


            
     </div>


 <div class="hero-unit span5 blackbox">

    
      <h2>Jobs:</h2> 
               <hr />
<form >
    <label>Label name</label>
    <input type="text" placeholder="Type something…" style="width:95%;">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
</form>


            
     </div>

 <div class="hero-unit span5 blackbox">


      <h2>Buy/Sell:</h2> 
               <hr />
<form >
    <label>Label name</label>
    <input type="text" placeholder="Type something…" style="width:95%;">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
</form>


            
     </div>


<div class="hero-unit span5 blackbox">


      <h2>Business Directory:</h2> 
               <hr />
<form >
    <label>Label name</label>
    <input type="text" placeholder="Type something…" style="width:95%;">
    <span class="help-block">Example block-level help text here.</span>
    <label class="checkbox">
      <input type="checkbox"> Check me out
    </label>
    <button type="submit" class="btn btn-success btn-large pull-right">Search</button>
</form>


            
     </div>

 