@{
    ViewBag.Title = "Home Page";
}

<div style="text-align:center; min-height:450px;padding-top:30px;">
    <a href="@Url.Action("Index","Home")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#A4C400; ">
        Home
    </a>

    <a href="@Url.Action("Index","Property")" class="hero-unit homeMenuBox btn btn-success btn-large" style="background-color:#1BA1E2">
        Properties
    </a>

    <span class="hero-unit homeMenuBox-empty btn btn-large emptyBox"></span>
    <span class="hero-unit homeMenuBox-empty btn btn-large emptyBox"></span>

</div>







