@*@model SO.SilList.Manager.Models.ValueObjects.PropertyVo*@

<a href="@Url.Action("Index","Property")" class="btn btnLeftMenu" style="width:120px;">
      Property
 </a>

<a href="@Url.Action("Index","PropertyType")" class="btn btnLeftMenu" style="width:120px;">
      Property Type
 </a>

<a href="@Url.Action("Index","PropertyListingType")" class="btn btnLeftMenu" style="width:120px;">
      Listing Type
 </a>

<a href="@Url.Action("Index","StatusType")" class="btn btnLeftMenu" style="width:120px;">
      Status Types
 </a>
