@*@model SO.SilList.Manager.Models.ValueObjects.RentalVo*@

<a href="@Url.Action("Index","Rental")" class="btn btnLeftMenu" style="width:120px;">
      Rentals
 </a>

<a href="@Url.Action("Index","RentType")" class="btn btnLeftMenu" style="width:120px;">
      Rent Types
 </a>

<a href="@Url.Action("Index","PropertyType")" class="btn btnLeftMenu" style="width:120px;">
      Property Type
 </a>

<a href="@Url.Action("Index","LeaseTermType")" class="btn btnLeftMenu" style="width:120px;">
      Lease Term Type
 </a>
