@model SO.SilList.Manager.Models.ValueObjects.ListingVo
@{
    ViewBag.Title = "Detail View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span12 businessInfo" id="mainContent" style="background-color:lavender">
      <a class="pull-left" href="#" >
      <img class="media-object, thumbnail" data-src="holder.js/60x60">
    </a>
    <div class="media-body" style="padding:5px;">

          <div class="businessAddressLine">Category: </div> 
          <div class="businessAddressLine">Type: </div> 

        <div style="margin-left:70%; margin-top:-40px; ">
          <div class="businessAddressLine">123 Address</div>
          <div class="businessAddressLine">Los Angeles, CA 92222</div> 
          <div class="businessAddressLine">818-222-3344</div>  
          <div class="businessAddressLine"><a href="/">  Website </a></div>  
        </div>
    </div>

         <div style="margin-top:10px; margin-bottom:5px;" > description </div> 
    <hr />
    
</div>
