 <a href="@Url.Action("Index","Business")" class="btn btnLeftMenu" style="width:120px;">
      Businesses
 </a>
    
<a href="@Url.Action("Index","BusinessCategoryType")" class="btn btnLeftMenu" style="width:120px;">
      Categories
 </a>

<a href="@Url.Action("Index","ServiceType")" class="btn btnLeftMenu" style="width:120px;">
      Service Types
 </a>

<a href="@Url.Action("EntryStatusIndex","Business")" class="btn btnLeftMenu" style="width:120px;">
     Approve List
 </a>