@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.CarVo>


<table class="table table-bordered table-hover">
    <tr>
        <th>Car listing address and phone number
        </th>
        <th>
            <!-- buttons -->
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
                , 
                @Html.DisplayFor(modelItem => item.phone)
            </td>

            <td>
                <a href="@Url.Action("EntryStatusApprove", new { id = item.carId })" class="btn" title="Approve">Approve</a>
                <a href="@Url.Action("EntryStatusDecline", new { id = item.carId })" class="btn" title="Decline">Decline</a>
            </td>
        </tr>
    }

</table>
