@model SO.SilList.Manager.Models.ViewModels.CarVm

<div class="pagination pull-right">
  <ul>
      @if(Model.result.Count > (int)Model.rowCount)
      {
    <li><a href="#">Prev</a></li>

          for (int i = 1; i <= (int)Math.Ceiling(Model.result.Count / (Decimal)Model.rowCount); i++)
          {     
              <li><a href="#">@i</a></li>
          }
      
    <li><a href="#">Next</a></li>
       }
  </ul>
</div>