 <a href="@Url.Action("Index","Listing")" class="btn btnLeftMenu" style="width:120px;">
      Listings
 </a>
    
<a href="@Url.Action("Index","ListingCategoryType")" class="btn btnLeftMenu" style="width:120px;">
      Categories
 </a>

<a href="@Url.Action("Index","ListingType")" class="btn btnLeftMenu" style="width:120px;">
      Listing Type
 </a>

<a href="@Url.Action("EntryStatusIndex","Listing")" class="btn btnLeftMenu" style="width:120px;">
     Approve List
 </a>