
@{
    ViewBag.Title = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>You are signed up. You will get a link via email to confirm your registration.</h2>

@Html.ActionLink("Home", "Index", "Home")

