@model IEnumerable<SO.SilList.Manager.Models.ValueObjects.ListingCategoryTypeVo>
<script>

    function onListingCategory(id) {
    }


</script>
@{ 
    foreach (var item in @Model)
    {
         <li ><a href="#"  id="@item.name" onclick="$('#listingCategoryTypeId').val('@item.listingCategoryTypeId'); $('#filterForm').submit();return false"> @item.name </a></li>
    
        
    } 
    
    @Html.Hidden("listingCategoryTypeId")

}