 <a href="@Url.Action("Index", "Admin")" class="btn btnLeftMenu" style="width:120px;">
      Administrators
 </a>
 <a href="@Url.Action("Index", "Visit")" class="btn btnLeftMenu" style="width:120px;">
      Site Statistics
 </a>