 <a href="@Url.Action("Index","Home")" class="btn btnLeftMenu" style="width:120px;">
      Home
 </a>
    
<a href="@Url.Action("Index","Home")" class="btn btnLeftMenu" style="width:120px;">
      Help
 </a>
