 <a href="@Url.Action("Index","EnvironmentType")" class="btn btnLeftMenu" style="width:120px;">
      Environment
 </a>
    
<a href="@Url.Action("Index","SettingType")" class="btn btnLeftMenu" style="width:120px;">
      Settings
 </a>
