@model SO.SilList.Manager.Models.ViewModels.ListingVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

<div id="leftColumn" class="span3 searchPageLeftColumn"  >
        
<div style="font-size:17px; font-weight:bold; text-align:center; padding-top:20px;">Listing Search:</div>
<hr />

@Html.Action("Filter",@Model)

 <br />
  <ul class="nav nav-list" style="background-color:none; color:white; margin-top:10px; " >
    <li class="nav-header" style="background-color:DimGray;">By Category:</li>

    <li ><a href="/Clubs/Los-Angeles-CA/Adventures/">Rentals</a></li>
    <li ><a href="/Clubs/Los-Angeles-CA/Art/">Jobs</a></li>
    <li ><a href="/Clubs/Los-Angeles-CA/Business/">Cars</a></li>
    <li ><a href="/Clubs/Los-Angeles-CA/Business/">Business</a></li>
   </ul>
  <br />

  <ul class="nav nav-list" style="background-color:none; color:white; margin-top:10px; " >
    <li class="nav-header" style="background-color:DimGray;">By Type:</li>

    <li ><a href="/Clubs/Los-Angeles-CA/Adventures/">Buy</a></li>
    <li ><a href="/Clubs/Los-Angeles-CA/Art/">Sell</a></li>
  </ul>

  </div>

  <div id="mainContent" class="span6" style="padding-left:0px; padding-right:0px; background-color:white;">
        
    @RenderBody()

  </div>

  <div class="span2" style="background-color:black;">
    right

  </div>

</div>
