
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

<div id="leftColumn" class="span1 searchPageLeftColumn" style="min-height:1100px; width:178px " >
        
<div style="font-size:17px; font-weight:bold; text-align:center; padding-top:20px;">Cars Search:</div>
<hr />
@Html.Action("Filter", "car")

    </div>

     <div id="mainContent" class="span7" style="padding-left:0px; padding-right:0px; background-color:white;">
        
         @RenderBody()

    </div>

      <div class="span2" style="background-color:black;">
          right

    </div>

</div>
