
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

<div id="leftColumn" class="span1 searchPageLeftColumn" style="min-height:1100px; width:178px " >
        
<div style="font-size:17px; font-weight:bold; text-align:center; padding-top:20px;">Property Search:</div>
<hr />
@Html.Action("Filter", "Property")

    </div>

     <div id="mainContent" class="span7" style="padding-left:0px; padding-right:0px; background-color:white;">
        
         @RenderBody()

    </div>

      <div class="span2" style="background-color:black;">
          right

    </div>

</div>

@*
@model SO.SilList.Manager.Models.ViewModels.PropertyVm

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row-fluid">

    <div class="span3 searchPageLeftColumn" id="leftColumn" style="min-height:1100px; width:235px ">
        
        <div style="font-size:17px; font-weight:bold; text-align:center; padding-top:20px;">Property Search:</div>
        <hr />
        @Html.Action("Filter",@Model)
        <br />
        <ul class="nav nav-list" style="background-color:none; color:white; margin-top:10px; " >
          <li class="nav-header">Top Categories:</li>
          <li ><a href="/Clubs/Los-Angeles-CA/Adventures/">Markets</a></li>
          <li ><a href="/Clubs/Los-Angeles-CA/Art/">Contractors</a></li>
          <li ><a href="/Clubs/Los-Angeles-CA/Business/">Plumbers</a></li>
        </ul>
    </div>

    <div id="mainContent"  class="span6" style="padding-left:0px; padding-right:0px;">
        @RenderBody()
    </div>

    <div class="span2" style="background-color:black;">
         right
    </div>

</div>
*@
