@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Congratulations you have successfully registered with SITE</h2>
<h3>A confirmation email was sent to YOUREMAIL. Please confirm your email address by following the link provided in email message.</h3>

@Html.ActionLink("Home", "Index", "Home") | @Html.ActionLink("Login", "Login", "Member")
